.idea/.name
.idea/compiler.xml
.idea/encodings.xml
.idea/gradle.xml
.idea/misc.xml
.idea/modules.xml
.idea/vcs.xml
.idea/workspace.xml
.idea/copyright/profiles_settings.xml
.idea/libraries/Gradle__com_google_code_gson_gson_1_7_2.xml
.idea/libraries/Gradle__com_google_guava_guava_19_0.xml
.idea/libraries/Gradle__commons_codec_commons_codec_1_6.xml
.idea/libraries/Gradle__commons_logging_commons_logging_1_1_3.xml
.idea/libraries/Gradle__junit_junit_4_11.xml
.idea/libraries/Gradle__org_apache_httpcomponents_httpasyncclient_4_0_1.xml
.idea/libraries/Gradle__org_apache_httpcomponents_httpclient_4_3_2.xml
.idea/libraries/Gradle__org_apache_httpcomponents_httpcore_4_3_2.xml
.idea/libraries/Gradle__org_apache_httpcomponents_httpcore_nio_4_3_2.xml
.idea/libraries/Gradle__org_hamcrest_hamcrest_core_1_3.xml
.idea/libraries/Gradle__org_mockito_mockito_all_1_8_4.xml
